<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模式选择</title>
    <link rel="icon" href="/static/images/favicons/mode.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/set/mode.css" type="text/css">
    <link rel="stylesheet" href="/static/css/set/root.css" type="text/css">
    <script src="/static/lib/axios.min.js"></script>
</head>
<body>
<div id="mode-box">
    <div id="mode-selection">
        <div class="mode selected" id="landscape">横屏模式</div>
        <div class="mode" id="portrait">竖屏模式</div>
    </div>
    <div class="confirm" onclick="openSetPage()">确认</div>
</div>
<div id="logo-box">
    <img src="/static/images/view/SIC/SIC-5.png" id="logo" alt="">
</div>
<script src="/static/scripts/set/mode.js"></script>
</body>
</html>