<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暂停画面：横屏</title>
    <link rel="stylesheet" href="/static/css/render/L-pause.css" type="text/css">
</head>
<body>
<div>
    <div class="socket">
        <img src="/static/images/view/pause.gif" alt="">
    </div>
    <div class="container">
        <h1 class="pause-title" id="pauseTitle"></h1>
        <h2 class="pause-description-html" id="pauseHtml"></h2>
    </div>

    <div id="bottom">
        <div id="bottom-topLine"></div>
        <div id="bottom-pic">
            <img id="school" src="/static/images/view/SIC/school-badge.png" alt="">
            <img id="sic" src="/static/images/view/SIC/SIC.png" alt="">
            <img id="panda" src="/static/images/view/SIC/panda-gray.png" alt="">
        </div>
    </div>
</div>
<script src="/static/lib/axios.min.js"></script>
<script src="/static/scripts/render/pause.js"></script>
</body>
</html>



