<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结束画面:竖屏无摄像机</title>
    <link rel="stylesheet" href="/static/css/render/P-endNoCam.css" type="text/css">
</head>
<body>

<div id="title"><p class="title1">直播已结束</p><p class="title2">感谢您的观看</p></div>

<div id="info"><p>您可以在以下平台</p><p>搜索「深职大SIC」关注我们</p></div>

<div class="sic-info-social-medias">
    <div class="social-media-box">
        <img src="/static/images/view/socialMedia/bilibili.svg" alt=""/>
    </div>
    <div class="social-media-box">
        <img src="/static/images/view/socialMedia/wechat.svg" alt=""/>
    </div>
    <div class="social-media-box social-media-box-douyin">
        <img src="/static/images/view/socialMedia/douyin.svg" style="height: 6vh;" alt=""/>
    </div>
    <div class="social-media-box">
        <img src="/static/images/view/socialMedia/weibo.svg" alt=""/>
    </div>
</div>

<div class="panda"><img src="/static/images/view/SIC/panda.png" alt=""/></div>


<div id="bottom">
    <div id="bottom-topLine"></div>
    <div id="bottom-pic">
        <img id="school" src="/static/images/view/SIC/school-badge.png" alt="">
        <img id="sic" src="/static/images/view/SIC/SIC.png" alt="">
        <img id="panda" src="/static/images/view/SIC/panda-gray.png" alt="">
    </div>
</div>
</body>
</html>