<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待机画面：竖屏</title>
    <link rel="stylesheet" href="/static/css/render/P-loading.css" type="text/css">
</head>
<body>
<div id="background-box">
    <img id="background" src="/static/upload/poster" alt="">
    <div id="top"><p></p></div>
    <div id="host"></div>
    <div id="time">
        <p>即将开始</p>
        <p><span id="hour">00</span>:<span id="min">00</span>:<span id="sec">00</span></p>
    </div>
</div>
<div id="bottom">
    <div id="bottom-topLine"></div>
    <div id="bottom-pic">
        <img id="school" src="/static/images/view/SIC/school-badge.png" alt="">
        <img id="sic" src="/static/images/view/SIC/SIC.png" alt="">
        <img id="panda" src="/static/images/view/SIC/panda-gray.png" alt="">
    </div>
</div>
<script src="/static/lib/axios.min.js"></script>
<script src="/static/scripts/render/loading.js"></script>
</body>
</html>